.navbar{
    position: absolute;
    width: 100%;
    height: 55px;
}
.navbartitle{
    position: absolute;
    left: 40px;

    font-family: 'arial';
    font-style: normal;
    font-weight: 100;
    font-size: 30px;
    line-height: 48px;
    text-decoration:none;

    color: #214459;
}